<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:oxm="http://www.springframework.org/schema/oxm"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
        >
	<context:annotation-config/>
	<context:component-scan base-package="com.lee.demo" use-default-filters="false">
		<context:include-filter type="regex" expression="com.lee.demo.dao.*"/>
		<context:include-filter type="regex" expression="com.lee.demo.service.*"/>
	</context:component-scan>

	<!-- 扫描DAO -->
<!--  	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
<!--  		<property name="basePackage" value="com.lee.demo.dao"/> -->
<!--  	</bean> -->
 	
 	<!-- mybatis根据不同的数据库名来进行sql语句切换。具体的做法是初始化SqlSessionFactoryBean的时候，配置一个databaseIdProvider -->
<!--  	<bean id="vendorProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"> -->
<!--  		<property name="properties"> -->
<!--  			<props> -->
<!--  				<prop key="MySql">mysql</prop> -->
<!--  				<prop key="H2">h2</prop> -->
<!--  			</props> -->
<!--  		</property> -->
<!--  	</bean> -->
<!--  	<bean id="databaseIdProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider"> -->
<!--  		<property name="properties" ref="vendorProperties"/> -->
<!--  	</bean> -->
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<property name="dataSource" ref="dataSource" />
<!--  		<property name="databaseIdProvider" ref="databaseIdProvider"/> -->
 		<property name="mapperLocations" value="classpath*:com/lee/demo/mapper/*.xml" />
 	</bean>
 	
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="com.lee.demo.dao"/>
 		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
 	</bean>
 	
 	<!-- 根据不同的环境读取不同的配置 -->
<!--  	<beans profile="development"> -->
<!--  	 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> -->
<!--  			<property name="driverClassName" value="com.mysql.jdbc.Driver"/> -->
<!--  			<property name="url" value="jdbc:mysql://127.0.0.1:3306/WebMagic?characterEncoding=UTF-8"/> -->
<!--  			<property name="username" value=""/> -->
<!--  			<property name="password" value=""/> -->
<!--  		</bean> -->
<!--  		<jdbc:initialize-database data-source="dataSource" ignore-failures="ALL"> -->
<!--  			<jdbc:script location="classpath:sql/h2/schema.sql"/> -->
<!--  		</jdbc:initialize-database> -->
<!--  	</beans> -->
 	
 	<beans profile="test">
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
              destroy-method="close">
            <property name="driverClassName" value="org.h2.Driver"/>
            <property name="url" value="jdbc:h2:D:\mygit\frame\myFrame\db\test;AUTO_SERVER=TRUE"/>
 			<property name="username" value="sa"/>
 			<property name="password" value=""/>
        </bean>
        <!--Refer to https://github.com/springside/springside4/wiki/H2-Database -->
        <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
            <jdbc:script location="classpath:sql/h2/schema.sql" />
            <!--<jdbc:script location="classpath:data/h2/import-data.sql" encoding="UTF-8"/>-->
        </jdbc:initialize-database>
    </beans>
</beans>