<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.9.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    
    <bean id="dbcp" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="username" value="root">
        </property>
        <property name="password" value="a">
        </property>
        <property name="driverClassName" value="com.mysql.jdbc.Driver">
        </property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/OrderDataBase?characterEncoding=utf8">
        </property>
        
        <!-- 连接初始值，连接池启动时创建的连接数量的初始值 -->
        <property name="initialSize"><value>4</value></property>  
        <!-- 连接池的最大值，同一时间可以从池分配的最多连接数量，0时无限制 -->
        <property name="maxActive"><value>100</value></property>
        <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 ，0时无限制-->
        <property name="maxIdle"><value>50</value></property>
        <!-- 最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
        <property name="minIdle"><value>15</value></property> 
        <!-- 配置获取连接等待超时的时间 -->  
        <property name="maxWait"><value>10000</value></property><!-- 最大等待时间 -->  
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->  
        <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>  
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->  
        <property name="minEvictableIdleTimeMillis"><value>300000</value></property>  
        
    </bean>
    
    <!-- 设置sqlsession工厂 -->
    <bean id="sqlsessionfactory" 
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" 
                ref="dbcp">
        </property>
        <property name="mapperLocations" 
                value="classpath:com/lee/test/sql/*.xml">
        </property>
    </bean>
    
    <!-- DAO层 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" 
                value="com.lee.test.dao">
        </property>
    </bean>
    
    <!-- viewresolver 视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/">
        </property>
        <property name="suffix" value=".jsp">
        </property>
    </bean>

    <!-- 扫描service,controller -->
    <context:component-scan 
        base-package="com.lee.test"/>

    <!-- handlermapping @RequestMapping,
    @ResponseBody,@ExceptionHanlder -->
    <mvc:annotation-driven/>
    
    <!-- Spring事务管理 -->
    <!-- 定义事务管理(共通处理)组件 -->
    <bean id="tx" 
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 必须注入dataSource连接资源 -->
        <property name="dataSource" ref="dbcp">
        </property>
    </bean>
    <!-- 启动@Transactional注解,将来哪个组件方法
    带有该标记就会切入tx事务管理功能 -->
    <tx:annotation-driven transaction-manager="tx"/>    
</beans>